<h2 align ='center'><b>MODEL PREDICTIONS</b></h2>

####  **IMPORTING THE BASIC LIBRARIES**

In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import joblib
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, classification_report
import warnings
warnings.filterwarnings("ignore")

#### **LOADING THE TEST DATA**

In [28]:
# loading test data
test_data= pd.read_csv(r"E:\Employees_performance_analysis\src\models\test_data.csv")
test_data

,TotalWorkExperienceInYears,ExperienceYearsAtThisCompany,EmpEnvironmentSatisfaction,OverTime,EmpLastSalaryHikePercent,EmpWorkLifeBalance,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,EducationBackground_Other,EmpDepartment_Development,EmpDepartment_Finance,EmpDepartment_Sales,EmpJobRole_Developer,EmpJobRole_Finance Manager,EmpJobRole_Manager,EmpJobRole_Research Scientist,EmpJobRole_Sales Executive,PerformanceRating
0,0.142857,0.10,3,1,15,3,2,2,2,False,True,False,False,False,False,False,False,False,3
1,0.035714,0.05,3,1,18,1,0,0,0,False,True,False,False,True,False,False,False,False,3
2,0.428571,0.20,3,0,16,1,2,1,3,False,False,False,True,False,False,False,False,True,2
3,0.392857,0.20,2,0,15,3,3,1,2,False,False,True,False,False,True,False,False,False,2
4,0.428571,0.05,3,0,15,3,0,0,0,False,True,False,False,False,False,False,False,False,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,0.821429,0.10,1,1,14,3,2,2,2,False,False,False,False,False,False,False,False,False,2
236,0.428571,0.35,3,0,11,3,7,1,7,False,False,False,True,False,False,False,False,True,3
237,0.178571,0.15,2,0,18,3,2,0,2,False,True,False,False,True,False,False,False,False,3
238,0.321429,0.45,4,0,15,3,8,1,7,False,False,False,True,False,False,False,False,True,3
239,0.500000,0.55,1,0,20,3,10,11,1,False,False,False,False,False,False,False,False,False,2

#### **DEFINING A FUNCTION TO MAKE PREDICTIONS**

In [41]:
def MODEL_PREDICTIONS(model, predict_model_filename):

    # importing the model
    trained_model= joblib.load(model)

    #splitting into x and y
    X= test_data.drop('PerformanceRating', axis= 1)
    y_actual= test_data['PerformanceRating']

    # making predictions
    y_prediction= trained_model.predict(X)

    # comparing the prediction with the actual values
    comparison= pd.DataFrame({'Model_Predictions': y_prediction,
                              'Actual_Targets': y_actual})

    # saving it in a separate csv file
    comparison.to_csv(predict_model_filename)

    # displaying predictions and comparison with actual y value
    print(f"MODEL PREDICTIONS:\n\n{y_prediction}")
    print("\n\nCOMPARISON WITH THE ACTUAL TARGET VALUES:") 
    return comparison

#### **DECISION TREE**

In [42]:
# calling the function for prediction
MODEL_PREDICTIONS(model= "trained_model_base_decision_tree.pkl",  predict_model_filename= "predict_model_base_decision_tree.csv")

MODEL PREDICTIONS:

[3 3 3 2 3 3 2 3 3 3 3 2 3 3 3 3 3 3 3 3 3 2 3 3 3 3 4 3 2 3 3 4 3 3 3 4 3
 3 4 3 3 3 3 2 3 4 4 3 3 3 3 2 3 4 3 3 3 3 3 3 3 4 4 3 3 3 2 3 3 4 3 3 3 3
 3 3 3 3 3 3 3 2 3 3 3 3 2 3 3 3 3 3 4 3 2 3 3 3 4 3 3 3 4 3 3 3 2 2 2 3 3
 3 4 3 3 4 2 3 3 3 3 4 3 2 2 3 2 3 3 4 3 3 3 4 3 2 3 3 3 3 3 2 2 2 3 3 3 2
 3 4 3 3 3 3 3 4 3 2 3 3 3 3 3 3 4 3 3 3 3 3 4 2 3 2 3 3 3 3 2 3 3 3 3 3 3
 3 4 3 3 2 3 3 3 3 4 3 3 3 3 3 2 3 3 3 2 3 3 3 3 3 3 3 3 3 3 2 2 2 2 3 4 3
 2 4 3 3 3 2 3 3 3 3 3 3 3 2 3 4 3 2]


COMPARISON WITH THE ACTUAL TARGET VALUES:

     Model_Predictions  Actual_Targets
0                    3               3
1                    3               3
2                    3               2
3                    2               2
4                    3               3
..                 ...             ...
235                  2               2
236                  3               3
237                  4               3
238                  3               3
239                  2               2

[240 rows x 2 columns]

#### **TUNED DECISION TREE**

In [43]:
# calling the function for prediction
MODEL_PREDICTIONS(model= "trained_model_tuned_decision_tree.pkl",  predict_model_filename= "predict_model_tuned_decision_tree.csv")

MODEL PREDICTIONS:

[3 3 3 2 3 3 2 3 3 3 3 2 3 3 3 3 3 3 3 3 3 2 3 3 3 2 4 3 2 3 3 4 3 3 3 4 3
 3 4 3 3 3 3 2 3 4 4 3 3 4 3 2 3 4 4 3 3 3 3 3 3 4 4 3 3 3 2 3 3 4 3 3 3 3
 3 3 3 3 3 3 3 2 3 3 3 2 2 3 3 3 3 2 4 3 2 3 3 3 4 2 3 3 4 4 3 3 2 2 2 3 3
 3 4 3 3 4 2 3 3 3 3 4 3 2 3 3 2 3 3 4 3 3 3 4 3 2 3 3 3 3 3 2 2 2 3 3 3 2
 3 4 3 3 3 3 3 4 3 2 3 3 3 3 3 2 3 3 3 3 3 3 4 2 3 2 3 3 3 3 2 3 3 3 3 3 3
 3 4 3 3 2 3 3 3 3 4 3 3 3 3 3 2 3 3 3 2 3 3 3 3 3 3 3 3 3 2 2 2 2 2 3 4 3
 2 4 3 3 3 2 3 3 3 3 3 3 3 2 3 4 3 2]


COMPARISON WITH THE ACTUAL TARGET VALUES:

     Model_Predictions  Actual_Targets
0                    3               3
1                    3               3
2                    3               2
3                    2               2
4                    3               3
..                 ...             ...
235                  2               2
236                  3               3
237                  4               3
238                  3               3
239                  2               2

[240 rows x 2 columns]

#### **RANDOM FOREST**

In [44]:
# calling the function for prediction
MODEL_PREDICTIONS(model= "trained_model_base_random_forest.pkl",  predict_model_filename= "predict_model_base_random_forest.csv")

MODEL PREDICTIONS:

[3 3 3 2 3 3 2 3 3 3 3 2 3 3 3 3 3 3 3 3 3 2 3 3 3 2 4 3 3 3 3 4 3 3 3 3 3
 3 4 3 3 3 3 3 3 4 4 3 3 3 3 2 3 4 3 3 3 3 3 3 3 4 4 3 3 3 2 3 3 4 3 3 3 3
 3 3 3 3 3 3 3 2 3 3 3 2 3 3 3 3 3 2 4 3 3 3 3 3 2 3 3 3 4 3 3 3 2 2 2 3 3
 3 4 3 3 4 3 3 3 3 3 4 3 2 3 3 2 3 3 4 3 3 3 3 3 2 3 3 3 3 3 2 2 2 3 3 3 2
 3 4 3 3 3 3 3 4 3 2 3 3 3 3 3 3 3 3 3 3 3 3 4 2 3 2 3 3 3 3 2 3 3 3 3 3 3
 3 4 3 3 2 3 3 3 3 3 3 3 3 3 3 2 3 3 3 2 3 3 3 3 3 3 3 3 3 3 2 2 2 2 3 4 3
 2 4 3 3 4 2 3 3 3 3 3 3 3 2 3 3 3 2]


COMPARISON WITH THE ACTUAL TARGET VALUES:

     Model_Predictions  Actual_Targets
0                    3               3
1                    3               3
2                    3               2
3                    2               2
4                    3               3
..                 ...             ...
235                  2               2
236                  3               3
237                  3               3
238                  3               3
239                  2               2

[240 rows x 2 columns]